<!DOCTYPE html>
<html lang="ja">

<head>

	<meta charset="utf-8" />
	<meta name="format-detection" content="telephone=no, email=no, address=no">

	<title>markdown editor</title>

	<link rel="icon" type="image/x-icon" href="favicon.ico?v=0.1" />
	<link rel="stylesheet" type="text/css" href="index.css" />
	<script src="./node_modules/angular/angular.min.js"></script>
	<!--<script src="./node_modules/marked/lib/marked.js"></script>-->
	<script src="./marked.js"></script>
	<script src="./node_modules/mermaid/dist/mermaid.min.js"></script>

</head>

<body ng-app="example-app" ng-controller="MainController" class="main">
	<div ng-hide="hiddenText" class="pane" id="ctrl">
		<textarea ng-model="model.md" ng-model-options="{debounce: 800}" ng-change="changed()" cols="10" rows="3"
			style="flex: 2;"
			ondblclick="window.hiddenView=!window.hiddenView;document.getElementById('text').style='display:'+((hiddenView)?'none':'flex')+';';"></textarea>
		<div>
			<input type="checkbox" id="toc" ng-model="model.toc" ng-change="changed()" /><label for="toc">show table of
				contents</label><br>
			<input type="checkbox" id="todo" ng-model="model.todo" ng-change="changed()" /><label for="todo">use todo
				list</label>
		</div>
		<div id="imgs" drop-file="loaded" ng-model="model.img" style="flex: 1;">
			<div ng-repeat="img in model.images">
				{{ img.name }} <a ng-if="img.data" ng-click="clipimage($event, img)">copy</a> <a
					ng-if="img.data" ng-click="dropimage($event, img)">x</a>
			</div>
			<input type="text" id="clippedimg">
		</div>

		<button ng-click="htmlHidden=!htmlHidden">{{(htmlHidden)?'show':'hide'}} html</button>
		<textarea ng-if="!htmlHidden" ng-model="model.html" cols="10" rows="3" style="flex: 2;" readonly></textarea>
		<!--<button ng-click="image()">image</button>-->
	</div>
	<div ng-hide="hiddenView" class="pane" id="text"
		ondblclick="window.hiddenText=!window.hiddenText;document.getElementById('ctrl').style='display:'+((hiddenText)?'none':'flex')+';';document.getElementById('text').style=(hiddenText)?'overflow-y: inherit;display:block;':'';">
		<div class="html-container">
			<div ng-bind-html="model.html"
				style="padding: 10px; -webkit-flex: 1 1 auto; overflow-y: auto; min-height: 0px;"></div>
		</div>
	</div>
</body>
<script src="index.js"></script>
</html>