<!DOCTYPE html>
<html lang="ja">

<head>
	<meta charset="utf-8" />
	<meta name="format-detection" content="telephone=no, email=no, address=no">

	<title>markdown editor</title>

	<link rel="icon" type="image/x-icon" href="favicon.ico?v=0.1" />
	<link rel="stylesheet" type="text/css" href="index.css?v=0.110" />
	<link rel="stylesheet" type="text/css" href="fa/css/all.css" />
    <link rel="stylesheet" type="text/css" href="katex/katex.min.css" />
	<style>
		th, td {
			min-width: 3em;
		}
		.newpage {
			page-break-before: always;
		}
		pre.cs,
		pre.csharp {
			background: no-repeat top 14px right 6px/22px url('./img/csharp.png') #699;
		}
	</style>
	<script src="./d3.min.js"></script>
	<!--<script src="./node_modules/angular/angular.min.js"></script>-->
	<script src="./angular.min.js"></script>
	<!--<script src="./node_modules/marked/lib/marked.js"></script>-->
	<script src="./marked.js"></script>
	<!--<script src="./node_modules/mermaid/dist/mermaid.min.js"></script>-->
	<script src="./mermaid.min.js"></script>
	<script src="./raphael.js"></script>
	<script src="./flowchart.js"></script>
	<script src="./chart/chart.js"></script>
	<!--<script src="./chart/plugins/chartjs-plugin-labels.js"></script>-->
	<!--<script src="./latexit.js"></script>-->
    <script defer src="katex/katex.min.js"></script>
</head>

<body ng-app="example-app" ng-controller="MainController" class="main">
	<div ng-hide="hiddenText" class="pane" id="ctrl">
		<textarea ng-model="model.md" ng-model-options="{debounce: 800}" ng-change="changed()" cols="10" rows="3"
			style="flex: 2;"
			ondblclick="window.hiddenView=!window.hiddenView;document.getElementById('text').style='display:'+((hiddenView)?'none':'flex')+';';"></textarea>
		<div>
			<label for="vw">view width </label><input type="number" id="vw" ng-model="model.vw" ng-change="changeViewWidth()" min="0" max="10" /><br>
			<input type="checkbox" id="toc" ng-model="model.toc" ng-change="changed()" /><label for="toc">show table of
				contents</label><br>
			<input type="checkbox" id="todo" ng-model="model.todo" ng-change="changed()" /><label for="todo">use todo
				list</label><br>
			</div>
		<div id="imgs" drop-file="loaded" ng-model="model.img" style="flex: 1;max-height: 100px;overflow-y: auto;">
			<div ng-repeat="img in model.images">
				{{ img.name }} <a ng-if="img.data" ng-click="clipimage($event, img)">copy</a> <a
					ng-if="img.data" ng-click="dropimage($event, img)">x</a>
			</div>
			<input type="text" id="clippedimg">
		</div>

		<button ng-click="htmlHidden=!htmlHidden">{{(htmlHidden)?'show':'hide'}} html</button>
		<textarea ng-if="!htmlHidden" ng-model="model.html" cols="10" rows="3" style="flex: 2;" readonly></textarea>
		<!--<button ng-click="image()">image</button>-->
	</div>
	<div ng-hide="hiddenView" class="pane" id="text"
		ondblclick="window.hiddenText=!window.hiddenText;document.getElementById('ctrl').style='display:'+((hiddenText)?'none':'flex')+';';document.getElementById('text').style=(hiddenText)?'overflow-y: inherit;display:block;':'';">
		<div class="html-container">
			<div ng-bind-html="model.html"
				style="padding: 10px; -webkit-flex: 1 1 auto; overflow-y: auto; min-height: 0px;"></div>
		</div>
	</div>
</body>
<script src="index.js?v=0.27"></script>
</html>