/*
<div class="warn"></div>
```
some codes...
```
*/
.info + blockquote, .info + p + blockquote { border-color: blue; }
.warn + blockquote, .warn + p + blockquote { border-color: orange; }
.error + blockquote, .error + p + blockquote { border-color: red; }

.path {
	font-family:sans-serif;
	padding-left: 5px;
	margin-bottom:-5px;
}

body, div, span, li, p, td, pre, code, blockquote {
	font-size: 16px;
	line-height: 1.5;
	font-family: "ヒラギノ明朝 ProN W3", "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", serif;
	font-weight: 300;
}
div.reset, .reset span, .reset li, .reset p, .reset td, .reset pre, .reset code {
	font-size: initial;
	line-height: revert;
	font-family: initial;
	font-weight: initial;
}

p::first-letter {
	padding-left: 1em;
}

h1, h2, h3, h4, th, dt, button {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
	font-weight: 400;
}
.reset h1, .reset h2, .reset h3, .reset h4, .reset th, .reset dt, .reset button {
	font-family: initial;
	font-weight: initial;
}

h1, h2, h3, h4 {
	margin: 1em 0 .5em 0;
	padding: 0;
}
.reset h1, .reset h2, .reset h3, .reset h4 {
	margin: revert;
	padding: revert;
}

h1:first-child {
	margin-top: 0;
}

code {
	font-family: 'Ricty Diminished', Ricty, Consolas, 'Courier New', Courier, Monaco, monospace;
	color: #366;
	font-weight: 100;
}
.reset code {
	font-family: initial;
	color: revert;
	font-weight: initial;
}

a {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", "Roboto", "Segoe UI", sans-serif;
	font-weight: 100;
	color: #630;
}
.reset a {
	font-family: initial;
	font-weight: initial;
	color: revert;
}
a:hover {
	color: #963;
}

button {
	padding: 6px;
	margin: 3px;
	border-radius: 3px;
	border: #999 solid 1px;
	background-color: #ccc;
}
.reset button {
	padding: revert;
	margin: revert;
	border-radius: revert;
	border: revert;
	background-color: revert;
}

textarea {
	padding: 6px;
	margin: 3px;
	border-radius: 3px;
	border: #999 solid 1px;
	background-color: #fff;
}
.reset textarea {
	padding: revert;
	margin: revert;
	border-radius: revert;
	border: revert;
	background-color: revert;
}

.main {
	margin: 0px;
	padding: 0px;
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row;
	flex-flow: row;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
}

.pane {
	display: -webkit-box;
	display: -webkit-flex;
	display: -moz-box;
	display: -moz-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-flex: 1;
	-webkit-flex: 1 1 200px;
	-moz-box-flex: 1;
	-moz-flex: 1 1 200px;
	-ms-flex: 1 1 200px;
	flex: 1 1 200px;
	flex-flow: column;
	min-width: 30%;
}

.html-container {
	flex: 1;
	overflow-y: auto;
	display: -webkit-flex;
	display: flex;
}

pre {
	border-radius: 6px;
	background-color: #699;
	padding: 10px;
	white-space: pre-wrap;
}
.reset pre {
	border-radius: revert;
	background-color: revert;
	padding: revert;
	white-space: pre-wrap;
}

pre code {
	color: #fff;
}
.reset pre code {
	color: revert;
}

pre.code,
pre.xml,
pre.html,
pre.terminal,
pre.bash,
pre.dir,
pre.db,
pre.sql,
pre.java,
pre.html5,
pre.css,
pre.js,
pre.javascript {
	position: relative;
}
pre.code code.lang-code::before,
pre.xml code.lang-xml::before,
pre.html code.lang-html::before,
pre.terminal code.lang-terminal::before,
pre.bash code.lang-bash::before,
pre.dir code.lang-dir::before,
pre.db code.lang-db::before,
pre.sql code.lang-sql::before,
pre.java code.lang-java::before,
pre.html5 code.lang-html5::before,
pre.css code.lang-css::before,
pre.js code.lang-js::before,
pre.javascript code.lang-javasceript::before {
	position: absolute;
	right: 10px;
}
@font-face {
  font-family: 'Font Awesome 5 Solid';
  font-style: normal;
  font-weight: 900;
  font-display: block;
  src: url("fa/webfonts/fa-solid-900.eot");
  src: url("fa/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("fa/webfonts/fa-solid-900.woff2") format("woff2"), url("fa/webfonts/fa-solid-900.woff") format("woff"), url("fa/webfonts/fa-solid-900.ttf") format("truetype"), url("fa/webfonts/fa-solid-900.svg#fontawesome") format("svg"); }
pre.code code.lang-code::before,
pre.xml code.lang-xml::before,
pre.html code.lang-html::before,
pre.terminal code.lang-terminal::before,
pre.bash code.lang-bash::before,
pre.dir code.lang-dir::before,
pre.db code.lang-db::before,
pre.sql code.lang-sql::before {
	font-family: 'Font Awesome 5 Solid';
}
@font-face {
  font-family: 'Font Awesome 5 Brands';
  font-style: normal;
  font-weight: 400;
  font-display: block;
  src: url("fa/webfonts/fa-brands-400.eot");
  src: url("fa/webfonts/fa-brands-400.eot?#iefix") format("embedded-opentype"), url("fa/webfonts/fa-brands-400.woff2") format("woff2"), url("fa/webfonts/fa-brands-400.woff") format("woff"), url("fa/webfonts/fa-brands-400.ttf") format("truetype"), url("fa/webfonts/fa-brands-400.svg#fontawesome") format("svg"); }
pre.uml,
pre.flow {
	background-color: transparent;
}
pre.java code.lang-java::before,
pre.html5 code.lang-html5::before,
pre.css code.lang-css::before,
pre.js code.lang-js::before,
pre.javascript code.lang-javasceript::before {
	font-family: 'Font Awesome 5 Brands';
}
pre.code code.lang-code::before,
pre.xml code.lang-xml::before,
pre.html code.lang-html::before {
	content: '\f121';
}
pre.terminal code.lang-terminal::before,
pre.bash code.lang-bash::before {
	content: '\f120';
}
pre.dir code.lang-dir::before {
	content: '\f0e8';
}
pre.db code.lang-db::before,
pre.sql code.lang-sql::before {
	content: '\f1c0';
}
pre.java code.lang-java::before {
	content: '\f4e4';
}
pre.html5 code.lang-html5::before {
	content: '\f13b';
}
pre.css code.lang-css::before {
	content: '\f13c';
}
pre.js code.lang-js::before,
pre.javascript code.lang-javasceript::before {
	content: '\f3b8';
}
pre.latex {
	background-color: transparent;
}

blockquote {
	border-left: #ddd solid 3px;
	padding-left: 10px;
}
.reset blockquote {
	border-left: revert;
	padding-left: revert;
}

table {
	border: #999 solid 1px;
}
.reset table {
	border: revert;
}

th,
td {
	border: #ccc solid 1px;
}
.reset th, .reset td {
	border: revert;
}

th {
	background-color: #ddd;
}
.reset th {
	background-color: revert;
}

p {
	margin-top: 0.5em;
	margin-bottom: 0;
}
.reset p {
	margin-top: revert;
	margin-bottom: revert;
}

h1 {
	font-size: 2em;
	color: #345180;
	border-bottom: #345180 solid 2px;
}
.reset h1 {
	font-size: revert;
	color: revert;
	border-bottom: revert;
}

h2 {
	font-size: 1.8em;
	color: #5D7291;
}
.reset h2 {
	font-size: revert;
	color: revert;
}

h3 {
	font-size: 1.5em;
	color: #497E93;
}
.reset h3 {
	font-size: revert;
	color: revert;
}

ol,
ul {
	-webkit-margin-before: 1em;
	-webkit-margin-after: 1em;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
	-webkit-padding-start: 2em;
}
.reset ol, .reset ul {
	-webkit-margin-before: revert;
	-webkit-margin-after: revert;
	-webkit-margin-start: revert;
	-webkit-margin-end: revert;
	-webkit-padding-start: revert;
}

li {
	position: relative;
}
.reset li {
	position: revert;
}

li > p {
	color: #313D4D;
}

li > p:first-child {
	color: #000;
}
ul > li.todo {
	list-style-type: none;
}

ul > li.todo::before {
	position: absolute;
	left: -1em;
	top: -0.5em;
	font-size: 200%;
	content: '\2610';
}

ul > li.done {
	list-style-type: none;
}

ul > li.done::before {
	position: absolute;
	left: -1em;
	top: -0.5em;
	font-size: 200%;
	content: '\2611';
}

ul.toc > li {
	list-style-type: none;
}

ul.toc > li.depth1 {
	padding-left: 0em;
}

ul.toc > li.depth2 {
	padding-left: 2em;
}

ul.toc > li.depth3 {
	padding-left: 4em;
}

#clippedimg {
	border: 0;
	padding: 0;
	margin: 0;
	width: 1px;
	-webkit-appearance: none;
	position: absolute;
	right: 0;
}

#imgs {
	border: #ccc solid 1px;
	border-radius: 6px;
	margin: 2px;
	padding: 3px;
}
#imgs div,
#imgs div a {
	font-family: 'Ricty Diminished', Ricty, Consolas, 'Courier New', Courier, Monaco, monospace;
}
#imgs div a {
	background-color: #999;
	color: #fff;
	cursor: pointer;
	border-radius: 6px;
	padding: 3px;
	min-width: 2em;
	display: inline-block;
	text-align: center;
}
#imgs div a:hover {
	background-color: #ccc;
}

img {
	max-width: 80%;
	min-width: 12%;
}
.reset img {
	max-width: revert;
	min-width: revert;
}

h1 {
	page-break-before: always;
}

@media print {
	h1 {
		margin-top: 0;
		page-break-before: always;
	}

	h1:first-child {
		page-break-before: none;
	}

	.main {
		display: block;
		position: relative;
	}

	#ctrl {
		display: none;
		position: absolute;
	}

	.html-container {
		display: block;
		position: relative;
	}
}
